[submodule "Modul C/pngjs"]
	path = Modul C/pngjs
	url = https://github.com/arian/pngjs.git
[submodule "Modul C/jsQR"]
	path = Modul C/jsQR
	url = https://github.com/cozmo/jsQR.git
[submodule "Modul C/qrcodejs"]
	path = Modul C/qrcodejs
	url = https://github.com/davidshimjs/qrcodejs.git
